{% extends 'homeworkapp/base.html' %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
<h1>Все Товары:</h1>

<table class="table">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Наименование товара</th>
        <th scope="col">Описание</th>
        <th scope="col">Цена</th>
        <th scope="col">Колличество</th>
        <th scope="col">Фото</th>
        <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <div class="row" style="display: flex; flex-wrap: nowrap; overflow-x: auto;">
                        {% for photo in product.photos.all %}
                            <div class="col-6 col-md-4" style="flex: 0 0 auto; padding: 5px;">
                                <img src="{{ photo.image.url }}" class="img-fluid" alt="product image" style="height: 50px;" /> 
                            </div>
                        {% endfor %}
                    </div>
                </td>                             
                <td><a href="{% url 'upload_image' product.id %}">add photo</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
